/*
	Color fondo: #632432;
	Color header: 246355;
	Color borde: 0F362D;
	Color iluminado: 369681;
*/
body{
	background-color: #632432;
	font-family: Arial;
}

#main-container{
	margin: 150px auto;
	width: 600px;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #369681;
	color: white;
}



.container{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: column;    
}

.btn{
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.5rem;
    position: relative;
    margin: 32px;
}

/*btn Uno*/

.btn-1{
    background: #039be5;
    color: #ffffff;
    border-radius: 50px;
    transition: transform 0.3s ease;
}

.btn-1::after, .btn-1::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background: #039be5;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
    
}

.btn-1:hover{
    transform: translate(-12px, -12px);
}

.btn-1:hover::after{
    transform: translate(6px, 6px);
}

.btn-1:hover::before{
    transform: translate(12px, 12px);
}